@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Golos Text", sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/* Header */
header{
    display: flex;
    justify-content: left;
    position: relative;
    gap: 28px;
    padding: 17px 30px;
    margin-bottom: 30px;
    align-items: center;
}
.header-text
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
    font-family: "Golos Text", sans-serif;
}
header::after{
    background: url('../img/header_bottom_icon.png');
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 5px;
    width: 100%;
}
.container::after{
    background: url('../img/image_footer.png');
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 5px;
    width: 100%;
}
.button-continue{
    text-align: center;
    height: 52px;
    padding: 21px;
    margin-top: 50px;
}
.button-continue__button
{
    width: 189px;
    padding: 14px 25px;
    border-radius: 8px;
    border: 1px solid rgb(0,0,0,0.2);
    margin-bottom: 38px;
    background: white;

    color:black
}
.button-continue__button-not-active{
    pointer-events: none ;
    background: rgb(28,26,26,0.2);

}

main
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap:34px;
    width: 940px;
}
main h1{
    font-weight: 700px;
    font-size: 25px;
    line-height: 24px;
    font-family: "Golos Text", sans-serif;
}

.start_btn{
    background-color: #E9262D;
    border-radius: 10px 10px 0 0;
    border: none;
    color:white;
    padding: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
    margin-bottom: 230px;
}